<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
</head>

<body class="productCart">
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h2>Mi carrito</h2>
        <div class="conteiner">
            <% if (products.length != 0) { %>
            <section>
                <div>
                    <% products.forEach(product=> { %>
                        <article class="movile">
                            <div class="image">
                                <a href="/products/detail/<%= product.product.id %> ">
                                    <img src="/img/<%= product.product.images[0].file %> " alt="">
                                </a>
                            </div>
                            <div class="name">
                                <h4>
                                    <%= product.product.name %>
                                </h4>
                            </div>
                            <div class="amount">
                                <h6>Cantidad:</h6>
                                <div class="cantidad">
                                    <p><%= product.amount %> </p>
                                </div>
                            </div>
                            <div class="price">
                                <h6>Precio</h6>
                                <h6>$<%= product.product.price %>
                                </h6>
                            </div>
                            <div class="sub-price">
                                <h6>Sub-total</h6>
                                <h6>$<%= product.product.price * product.amount %>
                                </h6>
                            </div>
                            <div class="delate">
                                <form action="/products/cart/<%= product.product.id %>?_method=DELETE" method="POST" id="delete">
                                    <button type="submit">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </article>
                        <% }) %>
                </div>
                <div class="titulo-columna">
                    <h4 class="producto">Producto</h4>
                    <h4>Cantidad</h4>
                    <h4 style="margin: auto;" >precio</h4>
                    <h4 style="white-space: nowrap;" >Sub Total</h4>
                </div>
                <div>
                    <% products.forEach(product=> { %>
                        <article class="desktop">
                            <div class="image">
                                <a href="/products/detail/<%= product.product.id %> ">
                                    <img src="/img/<%= product.product.images[0].file %> " alt="">
                                </a>
                            </div>
                            <div class="name">
                                <h4>
                                    <%= product.product.name %>
                                </h4>
                            </div>
                            <div class="amount">
                                <div class="cantidad">
                                    <p><%= product.amount %> </p>
                                </div>
                            </div>
                            <div class="price">
                                <h6>$<%= product.product.price %></h6>
                            </div>
                            <div class="sub-price">
                                <h6>$<%= product.product.price * product.amount %></h6>
                            </div>
                            <div class="delate">
                                <form action="/products/cart/<%= product.product.id %>?_method=DELETE" method="POST" id="delete">
                                    <button type="submit">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </article>
                        <% }) %>
                </div>
                <div class="precio-total">
                    <h5>Total (sin envio)</h5>
                    <h5>$<%= total.reduce((a, b) => a + b, 0) %> </h5>
                </div>
            </section>
            <aside>
                <h3>Datos Del Envío</h3>
                <hr>
                <form action="/products/cart/end" method="post" id="compra">
                    <div class="metodo-de-envio">
                        <label for="metodo-de-envio">Metodo De Envío</label>
                        <p>
                            <input type="radio" id="metodo-de-envio" name="metodo-de-envio">Correo Argentino a Sucursal
                        </p>
                        <p>
                            <input type="radio" id="metodo-de-envio" name="metodo-de-envio">Correo Argentino a Domicilio
                        </p>
                        <p>
                            <input type="radio" id="metodo-de-envio" name="metodo-de-envio">OCA a Domicilio
                        </p>
                        <p>
                            <input type="radio" id="metodo-de-envio" name="metodo-de-envio">Retiro por local
                        </p>
                    </div>
                    <div class="datos-del-envio">
                        <button type="submit">
                            <p>Comprar</p>
                        </button>
                    </div>
                </form>
            </aside>
            <% } else {%>
                <span>Todavia no agregaste productos a tu carrito</span>
            <% } %>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascripts/cart.js"></script>
</body>

</html>