<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
</head>
<body class="products">
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h2><%= title %> </h2>
        <section>
            <% if (products.length == 0) { %>
             <h4>No se encontraron productos</h4>
            <% } %>
            <% products.forEach(product => { %>
                <div>
                    <a href="/products/detail/<%= product.id %>">
                        <div class="caja">
                            <img src="/img/<%= product.images[0].file %> " alt="">
                            <article>
                                <h3><%= product.name %></h3>
                                <span>$<%= product.price %></span>
                            </article>
                        </div>
                    </a>
                </div>
            <% }) %>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>